---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>{{ site.url }}/</loc></url>
  <url><loc>{{ site.url }}/opportunities/</loc></url>
  <url><loc>{{ site.url }}/materials/</loc></url>
  <url><loc>{{ site.url }}/award-notifications/</loc></url>
  <url><loc>{{ site.url }}/about/</loc></url>
  <url><loc>{{ site.url }}/privacy-policy/</loc></url>
{%- for post in collections.opportunities %}
  <url><loc>{{ site.url }}{{ post.url }}</loc></url>
{%- endfor %}
{%- for a in collections.awards %}
  <url><loc>{{ site.url }}{{ a.url }}</loc></url>
{%- endfor %}
</urlset>
