---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>https://scholarsplanet.com.ng/</loc></url>
  <url><loc>https://scholarsplanet.com.ng/about/</loc></url>
  <url><loc>https://scholarsplanet.com.ng/privacy-policy/</loc></url>
{%- for post in collections.posts %}
  <url><loc>https://scholarsplanet.com.ng{{ post.url }}</loc></url>
{%- endfor %}
</urlset>
